body {
  background-color: aliceblue;
  font-family: helvetica;
  font-size: 20px;
}

h1 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin: auto;
    background-color: floralwhite;
    color: darkslategray;
    border-radius: 20px;
}


h2 {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin: auto;
    background-color: gainsboro;
    color: steelblue;
    border-radius: 20px;
}

img {
  height: 50%;
  width: 50%;
  text-align: center;
}
