p {
font-family: helvetica;
color: blue;
font-size: 16
}

h1 {
font-family: candara;
color: red:
font-size: 24
}

h2 {
font-family: calibri;
color: gray;
font-size: 20;
}

background-color {
color: #f0f8ff
}
